DATABASE_URL=
CORS_ORIGIN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GOOGLE_GENERATIVE_AI_API_KEY=
HTTP_LOGS=
LOG_LEVEL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_VECTOR_REST_TOKEN=
UPSTASH_VECTOR_REST_URL=
OPENAI_API_KEY=
EXA_API_KEY=
VOYAGE_API_KEY=
LLM_MODEL=openai
FIRECRAWL_API_KEY=
RESEND_API_KEY=