NEXT_PUBLIC_SERVER_URL=
NEXT_PUBLIC_WIDGET_URL=
DATABASE_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
BETTER_AUTH_SECRET=
NEXT_PUBLIC_POSTHOG_KEY=
UPSTASH_VECTOR_REST_TOKEN=
UPSTASH_VECTOR_REST_URL=
OPENAI_API_KEY=
GROQ_API_KEY=
EXA_API_KEY=
VOYAGE_API_KEY=
LLM_MODEL=
FIRECRAWL_API_KEY=